<div class="header">
  <h1>{{title}}</h1>
</div>

<form class="" action="index.html" method="post">
  <label for="">Your Mother's Name</label>
  <input type="text" name="name" value="">
  <input type="submit"value="Generate a Mother's Day Card">
</form>
